@model IEnumerable<TI2PFINAL.Models.Musical>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synopsis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningNight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synopsis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningNight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Musical }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Musical }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Musical })
        </td>
    </tr>
}

</table>
