@model TI2PFINAL.Models.Soundtrack

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Soundtrack</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Musical.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musical.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Song }) |
    @Html.ActionLink("Back to List", "Index")
</p>
